/* GlobalStyles.css */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

/* buttons */

.primary-button {
    background-color: #113A8C;
}

/* Forms */

.formLabelMargin {
    margin-top: 20px;
}



