
.navbar {
    background-color: #FBFBFB;
    /* margin-bottom: 30px; */
}

.logoLink {
    font-family: 'Lucida Bright', serif;
    color: #113A8C;
    text-decoration: none;
    font-size: 50px;
}

.navLink {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px !important;
}

