.carouselContainer {
    height: 30vh;
    width: 100%; 
    margin: 0 auto; 
    overflow: hidden; 
}

.carouselContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.bookEditButton {
    background-color: #113A8C;
    border: none;
    color: white;
}

.deleteButton {
    background-color: #BFAEA7;
    border: none;
}

li {
    list-style: none
}

.iconUnavailable, .iconAvailable {
    color: #c0c0c0 !important; 
   
}

.iconAvailable {
    color: inherit;
}

@media (max-width: 576px) {
    .carouselContainer {
        height: 50vw;  
    }
}


