.managerView .carouselContainer {
    height: 45vh; 
    width: 80%;
}

.carouselContainer {
    height: 30vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carouselContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookEditButton {
    background-color: #113A8C;
    border: none;
    color: white;
}

.shadow {
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
}

li {
    list-style: none
}

.iconUnavailable, .iconAvailable {
    color: #c0c0c0 !important; 
   
}

.iconAvailable {
    color: inherit;
}

@media (max-width: 767px) { 
    .mtSmall {
        margin-top: 1.5rem;
    }

    .managerView .carouselContainer {
        height: 30vh; 
        width: 100%;
    }
}



